<!DOCTYPE html>
<html>
<body>

            <div align="center">
                <p>
                Welcome Dhruvsoft Employee!
            </p>
                <a href="{{ url_for('login') }}">
                    <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"  height="50" />
                </a>
            </div>

<!-- <div id="demo">
	<title> index page </title>
<h1>The Are you ready to take the challenge Click the button below</h1>
<button type="button" onclick="fun()">Question</button>
</div>
<div id="countdown"></div>

<script type="text/javascript">
    function fun() {
        var exam=new XMLHttpRequest();
        exam.onreadystatechange=function() {
            if(exam.readyState==4&& this.status ===200) {
                document.getElementById("demo").innerHTML=exam.responseText;
            }
        }
        exam.open("GET","http://localhost:5678/q",true);
        exam.send(null);
    }
    setInterval(function(){
        fun();
    },5000);
</script> -->




</body>
</html>
